.cookie-crumb-trail {
    color: #eecc77;
    background-color: #553311;
    position: absolute;
    visibility: hidden;
}

#crumb-one {
    left: 5%;
    top: 25%;
}

#crumb-two {
    left: 15%;
    top: 45%;
}

#crumb-three {
    left: 25%;
    top: 45%;
}

#crumb-four {
    left: 35%;
    top: 45%;
}

#crumb-five {
    left: 45%;
    top: 45%;
}

#crumb-six {
    left: 55%;
    top: 45%;
}

#crumb-seven {
    left: 65%;
    top: 45%;
}

#crumb-eight {
    left: 75%;
    top: 45%;
}

#crumb-nine {
    left: 85%;
    top: 45%;
}

#crumb-ten {
    left: 95%;
    top: 75%;
}