body {
    width: 100vw;
    min-width: 500px;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}

.main-game-body {
    height: 90vh;
}

#cookie-crumb, #broken-cookie {
    height: 350px;
    width: 400px;
}

#broken-cookie {
    visibility: hidden;
    margin-left: -400px;
}

.power-up-selection {
    background-color: #aa7733;
    color: #eecc77;
}

#powerup-display, #rte-display {
    visibility: hidden;
}

.enemy-rte {
    user-select: none;
    position: absolute;
    text-align: center;
}

#enemy-entity {
    width: 250px;
}

.cookie-crumb-trail, .cookie-crumb-hunt {
    height: 100px;
    width: 100px;
}

.cookie-crumb-trail {
    position: absolute;
    user-select: none;
}

.cookie-crumb-hunt {
    position: absolute;
    user-select: none;
    visibility: hidden;
}

#rte-display, #powerup-display {
    width: 25%;
}