body {
    width: 100vw;
    min-width: 500px;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}

.main-game-body {
    height: 90vh;
}

.main-cookie-crumb {
    background-color: #553311;
    color: #eecc77;
    user-select: none;
    height: 45vh;
}

.power-up-selection {
    background-color: #aa7733;
    color: #eecc77;
}

#powerup-display, #rte-display {
    visibility: hidden;
}

.enemy-rte {
    background-color: #553311;
    width: 20%;
    user-select: none;
    position: absolute;
    text-align: center;
}

.cookie-crumb-trail {
    color: #eecc77;
    background-color: #553311;
    position: absolute;
    user-select: none;
}

.cookie-crumb-hunt {
    color: #eecc77;
    background-color: #553311;
    position: absolute;
    user-select: none;
    visibility: hidden;
}

#rte-display, #powerup-display {
    width: 25%;
}