html, body {
    width: 100vw;
    min-width: 900px;
    height: 100vh;
    min-height: 750px;
    overflow: hidden;
    user-select: none;
    background-color: #DD9955;
}

.main-game-body {
    height: 100vh;
    width: 100vw;
    min-width: 500px;
}

.user-selection, .info-section {
    background-color: #553311;
    color: #eecc77;
    border-radius: 20px;
    padding: 10px;
}

.info-section {
    width: 300px;
}

#cookie-crumb, #broken-cookie {
    height: 475px;
    width: 500px;
}

#broken-cookie {
    visibility: hidden;
    margin-left: -500px;
    opacity: 80%;
}

.power-up-selection {
    background-color: #553311;
    color: #eecc77;
}

.user-button {
    background-color: #DD9955;
    color: #553311;
}

#powerup-display, #rte-display {
    visibility: hidden;
}

.enemy-rte {
    position: absolute;
    text-align: center;
}

#enemy-entity {
    width: 250px;
}

.cookie-crumb-trail, .cookie-crumb-hunt {
    height: 100px;
    width: 100px;
}

.cookie-crumb-trail {
    position: absolute;
}

.cookie-crumb-hunt {
    position: absolute;
    visibility: hidden;
}

#rte-display, #powerup-display {
    width: 25%;
}